/* Blog area */

#blog {
    margin: 15px;
    width: $blog-width;
    float: left;
    background: #FFFFFF;
    border: 2px solid #64BFD3;
}


#blog .blog-entry {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.blog-entry .date {
    color: #A3A3A3;
}


.blog-entry h2 {
    color: #027B9B;
    font-weight: normal;
    letter-spacing: 2px;
}

.blog-entry p {
    line-height: 150%;
}

@import "compass";

.blog-entry-separator {
    height: 1px;
    margin: auto;
    margin: 20px;

   @include filter-gradient(#e5e5e5, #e5e5e5, horizontal); // IE6-9
   @include background-image(linear-gradient(left, rgba(229,229,229,0) 0%,rgba(229,229,229,1) 20%,rgba(229,229,229,1) 80%,rgba(229,229,229,0) 100%)); 

}
