/* Header with logo and contact link */
#header {
    padding-top: 17px 12px 0;
}

#yhteystiedot {
    float: right;
    margin-top: 90px;
    font-size: 14px;
    color: #A5A5A5;
}

#yla-kuva {
    width: 908px;
    height: 353;
    background: url('pics/ylakuva.png') no-repeat;
    margin: 20px 0;
    padding-bottom: 20px;
}
