/* Horizontal menu stuff */


.menu {
    text-transform: uppercase;

    ul {
        text-align: center;
        padding-left: 0;
    }

    li {
        display: inline;
        padding-left: 30px;
        padding-right: 30px;
    }
}

$menu-bottom: 20px;
#horizontal-menu {

    a {
        color: #474747;
    }

    ul {
        margin-bottom: $menu-bottom;
    }

    li {
        padding-top: $menu-bottom;
        padding-bottom: $menu-bottom;
        
        &.selected {
            background: url('../pics/arrow.png') no-repeat center bottom;
        }
    }
}

#submenu {
    font-size: 0.9em;
    a {
        color: #949494;
    }

    a.active {
        color: #3097A9;
    }

    li {
        padding-left: 20px;
        padding-right: 20px;
    }
}

