/* Horizontal menu stuff */

#horizontal-menu {
    text-transform: uppercase;
}

#horizontal-menu a {
}

$menu-bottom: 20px;
#horizontal-menu {

    a {
        color: #474747;
    }

    ul {
        margin-bottom: $menu-bottom;
    }

    li {
        display: inline;
        padding: $menu-bottom 30px;
        
        &.selected {
            background: url('../pics/arrow.png') no-repeat center bottom;
        }
    }
}

