/* For all */
$content-width: 908px;
$right-width: 30%;
$blog-width: 100% - $right-width - 6%; 
$blue-border: 2px solid #64BFD3;

body {
    background: #f1f1f1;
    font-family: Arial, Sans Serif;
}

a {
    text-decoration: none;
}

#content {
    width: $content-width;
    margin: 0 auto;
}

/* Draw that fancy line below element :) */
.bottom-line {
    border-bottom: 1px solid #D7D7D7;
}

@import "header";
@import "menu";
@import "maincontent";
@import "blog";
@import "rightcolumn";
